.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    position: fixed;
    height: 100%;
    z-index: 9999;
}