* {
    font-family: 'Quicksand', sans-serif;

}




/* for dark mode */
/* background-color: black !important;
    background: black !important;
    color: white !important;
 */


/* 90% zoom browser window size */

/* width: 1688px;
 height: 1379px; */